@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to AMOSAD, if you are Iranian, please exit.</h1>

    <div class="mb-4">
        <a href="/Home/Login" class="btn btn-lg btn-success">Login</a>
    </div>

    <div class="btn-group mt-4" role="group" aria-label="Navigation Buttons">
        <a href="/Home/GeneralView" class="btn btn-primary">General View</a>
        <a href="/Home/AgentStatus" class="btn btn-secondary">Agent Status</a>
        <a href="/Home/TargetStatus" class="btn btn-danger">Target Status</a>
    </div>
</div>
